[submodule "lib/love-animation"]
	path = lib/love-animation
	url = https://github.com/patrixr/love-animation.git
[submodule "lib/cartographer"]
	path = lib/cartographer
	url = https://github.com/tesselode/cartographer.git
