compile = [ "moonc", "." ]

run = [ "love", "." ]

entrypoint = "main.moon"
hidden = [
  "shell.nix",
  ".config",
  ".git*",
  "lib",
  "**/*.lua",
  ".luarocks",
  "luarocks",
  "lua",
  "lua_modules",
]

audio = true

[nix]
channel = "stable-22_11"